---

---

<nav
	class="h-[5rem] border-b-4 border-black sticky top-0 left-0 w-full bg-white z-50"
>
	<div class="section h-full flex items-center">
		<a href="/" class="text-2xl font-bold font-display">Mind</a>
		<ul class="ml-auto flex gap-x-4 font-semibold">
			<li><a>About</a></li>
			<li><a>Blog</a></li>
			<li>
				<a
					class="bg-purple-500 border-4 border-black p-4 py-2 hover:shadow-[0.5rem_0.5rem_0_0_black] duration-100"
					href="/donate"
				>
					Donate
				</a>
			</li>
			<li>
				<a
					class="bg-white border-4 border-black p-4 py-2 hover:shadow-[0.5rem_0.5rem_0_0_black] duration-100"
					href="/get-help"
				>
					Get Help
				</a>
			</li>
		</ul>
	</div>
</nav>
