---
import { cn } from "src/lib/utils";

interface Props {
	label: string;
	type: astroHTML.JSX.HTMLInputTypeAttribute;
	className?: string;
}

const { label, type, className } = Astro.props;
---

<div class={cn("", className)}>
	<label class="flex flex-col space-y-2">
		<span class="font-semibold">
			{label}
		</span>
		<input
			class="border-4 border-black p-4"
			type={type}
			class="w-full"
		/>
	</label>
	<slot name="message" />
</div>
